.faqs-page-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 40px 0; 
    background: linear-gradient(180deg, rgba(0, 163, 224, 0.1) 0%, rgba(0, 61, 121, 0.1) 100%);
    padding: 5%;
}

.faqs-header {
    font-size: 2rem; 
    color: #003366; 
    margin-bottom: 20px; 
}

.faqs-boxes-container {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    width: 100%; 
    align-items: center; 
}

.faqs-box {
    background: white; 
    border: 2px solid #d8d8d8; 
    width: 100%; /* Adjusted to full width */
    max-width: 600px; /* Set a maximum width for better readability */
    border-radius: 20px; 
    padding: 15px; /* Increased padding for better touch targets */
    box-shadow: 0 8px 15px rgba(0, 0, 255, 0.2); 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    cursor: pointer; /* Added cursor pointer for better UX */
    transition: background 0.3s, height 0.3s; /* Transition for hover effect */
}

.faqs-box:hover {
    background: rgba(0, 0, 0, 0.05); /* Light hover effect */
}

.faqs-main-box {
    background: linear-gradient(90deg, #e0f7ff, #cceeff); 
    border: 2px solid #d8d8d8; 
    border-radius: 20px; 
    padding: 7px; 
    text-align: center; 
    box-shadow: 0 8px 15px rgba(0, 0, 255, 0.2); 
    width: auto; /* Changed to auto for better responsiveness */
}

.faqs-text {
    color: #1d1f22; 
    font-size: 2rem; 
    padding-left: 10%;
}

.faqs-question {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.faqs-icon {
    width: 20px; /* Set a fixed width */
    height: 20px; /* Set a fixed height */
    transition: transform 0.3s; /* Smooth transition for rotation */
}

.faqs-icon.rotated {
    transform: rotate(180deg); /* Rotate icon when expanded */
}

.faqs-answer {
    margin-top: 10px; 
    color: #555; 
    font-size: 1rem; 
    text-align: left; 
    width: 100%; 
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .faqs-header {
        font-size: 1.5rem; 
    }

    .faqs-text {
        font-size: 1.5rem; 
    }

    .faqs-answer {
        font-size: 0.9rem; 
    }
}
